extends layout

block content
  h1= title
  p Welcome to #{title}   
  if username
   div.welcomebox
    p.
     Welcome, #{title}
  else
   div.loginbox
    form(name="login", action="/users", method="post", enctype="multipart/form-data")
     div.fieldbox
      input(type="text", name="user")
     div.fieldbox
      input(type="text", name="password")
     div.fieldbox
      input(type="file", name="filefield")
     div.fieldbox 
      input(type="submit", name="login") 
