extends layout

block content
	div#container
		div#chatbox.ui-widget-content
			div#message_header
				p
					| Chat Box
			div#user_box
				div#userbox_container
					div.formfield
						label
							| Display Name 
							input(type="text" name="datepicker")#display_name_textbox.form_textbox
					div.formfield
						label
							| Email ID 
							input(type="text" name="email")#email_textbox.form_textbox
					div.formfield
						label
							| Password 
							input(type="password" name="password")#password_textbox.form_textbox
					div.formfield
						label
							| Date of Birth 
							input(type="text" name="datepicker")#date_of_birth_textbox.form_textbox
					div.formfield
						label
							| Mobile Number 
							input(type="text" name="datepicker")#mobile_no_textbox.form_textbox
			div#message_list_container
				ul#message_list
			div#message_box
				input(type="text", name="message_textbox")#message_textbox
				input(type="button", name="send_button", value="Register")#send_button